{% extends "htables_admin_layout.html" %}

{% set table_url = url_for('htables_admin.table', name=name) %}


{% block htables_title -%}
  {{ super() }} /
  <a href="{{ table_url }}">{{ name }}</a>
{%- endblock %}


{% block htables_content %}

  <table>

    <thead>
      <th>ID</th>
      {% for column in row_adapter.columns %}
        <th>{{ column }}</th>
      {% endfor %}
    </thead>

    <tbody>
    {% for row in table.find() %}

      <tr>

        {% set row_url = url_for('htables_admin.row', name=name, id_=row.id) %}
        <td class="htables-admin-row-id">
          <a href="{{ row_url }}">{{ row.id }}</a>
        </td>

        {% set adapted_row = row_adapter(row) %}
        {% for column in row_adapter.columns %}
          <td>{{ adapted_row[column] }}</td>
        {% endfor %}

      </tr>

    {% endfor %}
    </tbody>

  </table>

{% endblock %}
